[dev-packages]
pytest="*"

[packages]
fastapi = "*"
python-logstash-async="*"
pyyaml="*"
uvicorn = "*"
asyncpgsa = "*"
psycopg2-binary = "*"
celery="*"
flower="*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false