[dev-packages]
ipython = "*"
pytest = "*"
pytest-env = "*"
pytest-asyncio = "*"
requests = "*"


[packages]
fastapi = "*"
python-logstash-async="*"
pyyaml="*"
uvicorn = "*"
asyncpgsa = "*"
psycopg2-binary = "*"
celery="*"
flower="*"
celery-pool-asyncio="*"
celery-decorator-taskcls="*"
alembic="*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false